
body > .header .logo {
  font-family: inherit;
  font-size: 17px;
}

/* For the staff OVERTIME button */
.btn-success-2 {
  background-color: #5cb85c;
  border-color: #008d4c;
}
.btn-success-2:hover,
.btn-success-2:active,
.btn-success-2.hover {
  background-color: #5cb85c;
}

.ion {
	padding-top: 20%;
}

input[type=checkbox] {
	height: 20px;
}

/* Data Tables */
.table-cebedo-top-header {
	text-align: center;
	vertical-align: middle;
}

/* Payroll */
.cebedo-payroll-cell {
	text-align: right;
	font-size: smaller;
}
.cebedo-payroll-staff-name {
  white-space: nowrap;
  font-size: smaller;
}

/* Misc */
.cebedo-text-align-right {
	text-align: right;
}
.cebedo-no-wrap {
  white-space: nowrap;
}

