<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
	<appender name="errorFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/error/error.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<appender name="loginFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/login/login.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<appender name="companyFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/company/company.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<appender name="projectFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/project/project.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<appender name="projectFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/project/project.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<appender name="performanceFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/performance/performance.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<appender name="hdivFile" class="org.apache.log4j.RollingFileAppender">
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="C:/Program Files/VCC/PMSYS/system/logs/hdiv/hdiv.html" />
	    <layout class="com.cebedo.pmsys.layout.CustomHTMLLayout"/>
	</appender>
	
	<!-- HDIV Logger -->
	<logger name="org.hdiv.logs">
		<level value="debug" />
		<appender-ref ref="console" />
<!-- 		<appender-ref ref="hdivFile"/> -->
	</logger>
	
	<!-- Performance Loggers -->
	<logger name="com.cebedo.pmsys.interceptor.CustomPerformanceInterceptor">
		<level value="trace"/>
		<appender-ref ref="performanceFile"/>
	</logger>
	
	<!-- Application Loggers -->
	<logger name="project">
		<level value="info" />
		<appender-ref ref="projectFile" />
	</logger>
	
	<logger name="login">
		<level value="info" />
		<appender-ref ref="loginFile" />
	</logger>
	
	<logger name="error">
	    <level value="warn" />
		<appender-ref ref="errorFile" />
	</logger>
	
	<logger name="company">
		<level value="info" />
		<appender-ref ref="companyFile" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
